.sports {
	background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: 'Bellerose';
		font-weight: bolder;
		font-size: 80px;
		text-align: center;
		padding-bottom: 10px;
}
.jumbotron {
	margin-top: 50vh;
	opacity: 80%;
}
.bg-pic {
	background-image: url("../images/1.jpg");
	height: 100vh;
	background-repeat: no-repeat;
	background-position: cover;
}
.lead {
	border-top: 1px solid #e8e8e8;
	text-align: center;
	font-family: 'Merriweather';
	color: #e8e8e8;
}
.button1 {
	text-align: center;
	color: rgb(217, 217, 217);
	font-family: 'Merriweather';
}

	/*end landing page*/
.body-inside {
	background-color: #000000;
	/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='69.9%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='71%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%231a1a1a' stroke-width='8' stroke-miterlimit='10' stroke-opacity='0.24'%3E%3Cpolygon points='-500%2C500 500%2C-500 1500%2C500 500%2C1500'/%3E%3Cpolygon points='-475%2C500 500%2C-475 1475%2C500 500%2C1475'/%3E%3Cpolygon points='-450%2C500 500%2C-450 1450%2C500 500%2C1450'/%3E%3Cpolygon points='-425%2C500 500%2C-425 1425%2C500 500%2C1425'/%3E%3Cpolygon points='-400%2C500 500%2C-400 1400%2C500 500%2C1400'/%3E%3Cpolygon points='-375%2C500 500%2C-375 1375%2C500 500%2C1375'/%3E%3Cpolygon points='-350%2C500 500%2C-350 1350%2C500 500%2C1350'/%3E%3Cpolygon points='-325%2C500 500%2C-325 1325%2C500 500%2C1325'/%3E%3Cpolygon points='-300%2C500 500%2C-300 1300%2C500 500%2C1300'/%3E%3Cpolygon points='-275%2C500 500%2C-275 1275%2C500 500%2C1275'/%3E%3Cpolygon points='-250%2C500 500%2C-250 1250%2C500 500%2C1250'/%3E%3Cpolygon points='-225%2C500 500%2C-225 1225%2C500 500%2C1225'/%3E%3Cpolygon points='-200%2C500 500%2C-200 1200%2C500 500%2C1200'/%3E%3Cpolygon points='-175%2C500 500%2C-175 1175%2C500 500%2C1175'/%3E%3Cpolygon points='-150%2C500 500%2C-150 1150%2C500 500%2C1150'/%3E%3Cpolygon points='-125%2C500 500%2C-125 1125%2C500 500%2C1125'/%3E%3Cpolygon points='-100%2C500 500%2C-100 1100%2C500 500%2C1100'/%3E%3Cpolygon points='-75%2C500 500%2C-75 1075%2C500 500%2C1075'/%3E%3Cpolygon points='-50%2C500 500%2C-50 1050%2C500 500%2C1050'/%3E%3Cpolygon points='-25%2C500 500%2C-25 1025%2C500 500%2C1025'/%3E%3Cpolygon points='0%2C500 500%2C0 1000%2C500 500%2C1000'/%3E%3Cpolygon points='25%2C500 500%2C25 975%2C500 500%2C975'/%3E%3Cpolygon points='50%2C500 500%2C50 950%2C500 500%2C950'/%3E%3Cpolygon points='75%2C500 500%2C75 925%2C500 500%2C925'/%3E%3Cpolygon points='100%2C500 500%2C100 900%2C500 500%2C900'/%3E%3Cpolygon points='125%2C500 500%2C125 875%2C500 500%2C875'/%3E%3Cpolygon points='150%2C500 500%2C150 850%2C500 500%2C850'/%3E%3Cpolygon points='175%2C500 500%2C175 825%2C500 500%2C825'/%3E%3Cpolygon points='200%2C500 500%2C200 800%2C500 500%2C800'/%3E%3Cpolygon points='225%2C500 500%2C225 775%2C500 500%2C775'/%3E%3Cpolygon points='250%2C500 500%2C250 750%2C500 500%2C750'/%3E%3Cpolygon points='275%2C500 500%2C275 725%2C500 500%2C725'/%3E%3Cpolygon points='300%2C500 500%2C300 700%2C500 500%2C700'/%3E%3Cpolygon points='325%2C500 500%2C325 675%2C500 500%2C675'/%3E%3Cpolygon points='350%2C500 500%2C350 650%2C500 500%2C650'/%3E%3Cpolygon points='375%2C500 500%2C375 625%2C500 500%2C625'/%3E%3Cpolygon points='400%2C500 500%2C400 600%2C500 500%2C600'/%3E%3Cpolygon points='425%2C500 500%2C425 575%2C500 500%2C575'/%3E%3Cpolygon points='450%2C500 500%2C450 550%2C500 500%2C550'/%3E%3Cpolygon points='475%2C500 500%2C475 525%2C500 500%2C525'/%3E%3C/g%3E%3Crect fill-opacity='0.24' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");*/
	background-attachment: fixed;
	background-size: cover;
}

.navbar {
	border-bottom: 1px solid rgb(224, 224, 222);
}

.logo-txt {
	font-family: 'Josefin Sans';
	font-weight: bolder;
}

.bg-color {
	background-color: rgb(13, 13, 12);
	color: color: rgba(237, 237, 7,0.5);
}

.page-footer {
	margin-top: 60px;
}

.row-pad {
	padding: 10px 0px 10px 0px;
}
.navbar-nav > .nav-item {
	margin-left: auto;
	position: center;
	font-family: Josefin Sans;
}

.parallax { 
	/* The image used */
	background-image: url("../images/f2.jpg");

	/* Set a specific height */
	height: 300px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#icon-size {
	font-size: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
}

@font-face {
	font-family: 'Bellerose';
	src:
	local('Bellerose'),
	local('Bellerose'),
	url('../fonts/Bellerose.ttf');
}


/*media queries*/
/*mobile styling*/
@media only screen  and (max-width: 400px)  {
	.carousel-inner > .carousel-item > img {
		height: 260px;
	}
	.row-margin {
		margin-top: 30%;		
	}
	.gmap {
		margin: 10% 0% 20% 0%;
	}
	.img-size {
		height: 150px;
		width: 150px;
		margin-left: 100px;
	}
	.btn-css {
		margin-top: 10px;
	}
	.card {
		/*height: 30vh;*/
		margin-bottom: 10px;
		background-color: rgb(13, 13, 12);
	}
	.footer-position {
		position: bottom;
	}

	.h-home-font {
		background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: 'Bellerose';
		font-weight: bolder;
		font-size: 80px;
		padding-bottom: 25px;
	}
	.h-home-font-p {
		font-family: 'Merriweather';
		color: #e8e8e8;
		font-size: 15px;
	}

	.h-home-font-about {
		font-family: 'Merriweather';
		color: #e8e8e8;
		font-size: 15px;
		text-align: center;	
	}
	.space {
		display: block;
	}
	.button-position {
		position: absolute;
		left:35%;
	}

	.student-img {
		margin-top: 30px;
	}
	.gmap {
		width: 100%;
		height: 50vh;
	}

	/*start contact*/
.contact-label {
	font-family: 'Merriweather';
	color: #e8e8e8;
}
.avatar {
	height: 140px;
	width: 140px;
	border-radius: 30px 30px 30px 30px;
	border: 3px solid #052A03;
	display: block;
	margin: 16px auto;
}
.bg-avatar {
	background-color: rgb(13, 13, 12);
	border-radius: 10%;
}
.social-media {
	height: 40px;
	width: 40px;
	position: relative;
	left: 25%;
	margin-top: 80px;
}

.contact-h4 {
	font-family: 'Merriweather';
	color: #e8e8e8;
}

.ava-info {
	font-family: 'Merriweather';
	color: #e8e8e8;
	font-size: 12px;
}

#message {
	height: 200px;
	width: 100%;

}

.contact-us {
	background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Bellerose';
	font-weight: bolder;
	font-size: 30px;
	padding-bottom: 15px;

}

/*cards*/
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  border: 1px solid #d4d4d4;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 300px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.card-img 
{
	width:100%;
	height:300px;
}

.h-course-font {
		background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: 'Bellerose';
		font-weight: bolder;
		font-size: 30px;
		padding-bottom: 25px;

}

}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.carousel-inner > .carousel-item > img {
		height: 360px;
	}
	.img-fluid {
		margin: 30px 10px 10px 10px;
		border-radius: 20px 20px 20px 20px;
	}

	.lower-card {
		margin-bottom: 50px;
	}
	.h-home-font {
		background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: 'Bellerose';
		font-weight: bolder;
		font-size: 60px;
		padding-bottom: 25px;
	}
	.h-home-font-p {
		font-family: 'Merriweather';
		color: #e8e8e8;
		font-size: 20px;
	}

	.h-home-font-about {
		font-family: 'Merriweather';
		color: #e8e8e8;
		font-size: 15px;
		text-align: center;	
	}
	.space {
		display: block;
	}
	.button-position {
		position: absolute;
		left:30%;
	}
	.student-img {
		margin-bottom: 0px;
	}

	.gmap {
		width: 100%;
		height: 50vh;
	}
	footer {
		bottom: 0;
	}

	/*start contact*/
.contact-label {
	font-family: 'Merriweather';
	color: #e8e8e8;
}

.avatar {
	height: 140px;
	width: 140px;
	border-radius: 30px 30px 30px 30px;
	border: 3px solid #052A03;
	display: block;
	margin: 16px auto;
}
.bg-avatar {
	background-color: rgb(13, 13, 12);
	border-radius: 10%;
}
.social-media {
	height: 40px;
	width: 40px;
	position: relative;
	left: 25%;
	margin-top: 80px;
}

.contact-h4 {
	font-family: 'Merriweather';
	color: #e8e8e8;
}

.ava-info {
	font-family: 'Merriweather';
	color: #e8e8e8;
	font-size: 12px;
}

#message {
	height: 200px;
	width: 100%;

}

.contact-us {
	background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Bellerose';
	font-weight: bolder;
	font-size: 40px;
	padding-bottom: 15px;

}
/*card*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #d4d4d4;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.card-img 
{
	width:300px;
	height:300px;
}

}

/*desktop styling*/
@media only screen and (min-width: 961px) { 
	.carousel-inner > .carousel-item > img {
		height: 560px;
	}

	.courses {
		text-align: center;
		font-family: 'Bellerose';
	}
	.gmap {
		width: 100%;
		height: 50vh;
	}
	.row-margin {
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.img-size {
		margin-top: 10%;
	}

	.h-home-font {
	background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Bellerose';
	font-weight: bolder;
	font-size: 80px;
	padding-bottom: 25px;
}
.h-home-font-p {
	font-family: 'Merriweather';
	color: #e8e8e8;
	font-size: 18px;
}

.h-home-font-about {
	font-family: 'Merriweather';
	color: #e8e8e8;
	font-size: 20px;
	text-align: center;	
}
.space {
	display: block;
}
.button-position {
	position: absolute;
	left:40%;
}
/*start contact*/
.contact-label {
	font-family: 'Merriweather';
	color: #e8e8e8;
}
.avatar {
	height: 140px;
	width: 140px;
	border-radius: 30px 30px 30px 30px;
	border: 3px solid #052A03;
	display: block;
	margin: 16px auto;
}
.bg-avatar {
	background-color: rgb(13, 13, 12);
	border-radius: 30%;
}
.social-media {
	height: 60px;
	width: 60px;
	position: relative;
	left: 30%;
	margin-top: 80px;
}

.contact-h4 {
	font-family: 'Merriweather';
	color: #e8e8e8;
}

.ava-info {
	font-family: 'Merriweather';
	color: #e8e8e8;
	font-size: 12px;
}

#message {
	height: 200px;
	width: 100%;

}

.contact-us {
	background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Bellerose';
	font-weight: bolder;
	font-size: 50px;
	padding-bottom: 15px;

}

/*cards*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #d4d4d4;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.card-img 
{
	width:100%;
	height:300px;
}
.h-course-font {
		background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: 'Bellerose';
		font-weight: bolder;
		font-size: 60px;
		padding-bottom: 25px;

}
.title-name {
	font-family: 'Bellerose';
	margin-bottom: 10%;
}
.title-para {
	font-family: 'Merriweather';
}
}